/*Telerik RadGrid Vista Skin*/

/*global*/

.RadGrid_Vista2
{
     border:1px solid #dfebeb;	
    background:#fcfcfc;
    color:#333;
}

.RadGrid_Vista2,
.RadGrid_Vista2 .rgMasterTable,
.RadGrid_Vista2 .rgDetailTable,
.RadGrid_Vista2 .rgGroupPanel table,
.RadGrid_Vista2 .rgCommandRow table,
.RadGrid_Vista2 .rgEditForm table,
.GridToolTip_Vista
{
    font:11px/13px arial,helvetica,sans-serif;
}

.RadGrid_Vista2 .rgMasterTable,
.RadGrid_Vista2 .rgDetailTable
{
    border-collapse: separate !important;
}

.rgMasterTable th,
.rgMasterTable td
{
	color: #333;
	padding: 4px 8px;
}

.RadGrid_Vista2 .rgRow,
.RadGrid_Vista2 .rgAltRow,
.RadGrid_Vista2 .rgHeader,
.RadGrid_Vista2 .rgResizeCol,
.RadGrid_Vista2 .rgPager,
.RadGrid_Vista2 .rgGroupPanel,
.RadGrid_Vista2 .rgGroupHeader
{
	cursor:default;
}

.RadGrid_Vista2 input[type="image"]
{
	cursor:pointer;
}

.RadGrid_Vista2 .rgRow td,
.RadGrid_Vista2 .rgAltRow td,
.RadGrid_Vista2 .rgEditRow td,
.RadGrid_Vista2 .rgFooter td,
.RadGrid_Vista2 .rgFilterRow td,
.RadGrid_Vista2 .rgHeader,
.RadGrid_Vista2 .rgResizeCol,
.RadGrid_Vista2 .rgGroupHeader td
{
	padding-left:7px;
	padding-right:7px;
}

.RadGrid_Vista2 .rgHeader:first-child,
.RadGrid_Vista2 th.rgResizeCol:first-child,
.RadGrid_Vista2 .rgFilterRow>td:first-child,
.RadGrid_Vista2 .rgRow>td:first-child,
.RadGrid_Vista2 .rgAltRow>td:first-child
{
	border-left:0;
	padding-left:8px;
}

.RadGrid_Vista2 .rgAdd,
.RadGrid_Vista2 .rgRefresh,
.RadGrid_Vista2 .rgEdit,
.RadGrid_Vista2 .rgDel,
.RadGrid_Vista2 .rgFilter,
.RadGrid_Vista2 .rgPagePrev,
.RadGrid_Vista2 .rgPageNext,
.RadGrid_Vista2 .rgPageFirst,
.RadGrid_Vista2 .rgPageLast,
.RadGrid_Vista2 .rgExpand,
.RadGrid_Vista2 .rgCollapse,
.RadGrid_Vista2 .rgSortAsc,
.RadGrid_Vista2 .rgSortDesc,
.RadGrid_Vista2 .rgUpdate,
.RadGrid_Vista2 .rgCancel,
.RadGrid_Vista2 .rgUngroup
{
	width:16px;
	height:16px;
	border:0;
	margin:0;
	padding:0;
	background-color:transparent;
	background-image:url('Grid/sprite.gif');
	background-repeat:no-repeat;
	vertical-align:middle;
	font-size:1px;
	cursor:pointer;
}

.RadGrid_Vista2 .rgGroupItem input,
.RadGrid_Vista2 .rgCommandRow img,
.RadGrid_Vista2 .rgHeader input,
.RadGrid_Vista2 .rgFilterRow img,
.RadGrid_Vista2 .rgFilterRow input,
.RadGrid_Vista2 .rgPager img
{
	vertical-align:middle;
}

/*header*/

.RadGrid_Vista2 .rgHeaderDiv
{
	background:#ebeef6 0 -5900px repeat-x url('Grid/sprite.gif');
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -6200px;
}

.rgNoScrollImage .rgHeaderDiv
{
	background-image:none;
}

.RadGrid_Vista2 .rgHeader,
.RadGrid_Vista2 th.rgResizeCol
{
	background:url(img/headerBg.gif) top repeat-x #575757;

	padding: 3px 8px;
	/*height: 30px;*/
	text-align: center;
	font:11px/13px arial,helvetica,sans-serif;
	border-bottom:1px solid #cbdfdf;
	border-left: 1px solid #dfebeb;
	border-right: 1px solid #848484;
	border-top: 1px solid #848484;	
	color: #fff;
    
}

.RadGrid_Vista2 th.rgSorted
{
	border-bottom-color:#79b3d8;
	background-color:#d9ecf6;
	background-position:0 -2600px;
}


.RadGrid_Vista2 .rgHeader a
{
    color:#333;
    font-weight:normal;
    text-decoration:none;
}


.RadGrid_Vista2 .rgCheck
{
	height:15px;
	margin:0;
	padding:0;
}

/*rows*/

.RadGrid_Vista2 .rgRow td,
.RadGrid_Vista2 .rgAltRow td,
.RadGrid_Vista2 .rgEditRow td,
.RadGrid_Vista2 .rgFooter td
{	
	font:11px/12px arial,helvetica,sans-serif;
	color: #555;
}

.RadGrid_Vista2 .rgRow td
{
     background:#fcfcfc;
	border:1px solid;
	border-color:#e4f0f8 #fff #eeefef #ededed;
	border-left: none;
	border-right: none;
	border-right: 1px solid #eeefef;
}

.RadGrid_Vista2 .rgAltRow td
{
	background:#f0f8fd;
	border:1px solid;
	border-color:#fff #fff #fcfcfc #ededed;
	border-left: none;
	border-right: none;
	border-right: 1px solid #eeefef;
}

.RadGrid_Vista2 .rgRow .rgSorted,
.RadGrid_Vista2 .rgAltRow .rgSorted
{
	background-color:#f2f3f5;
}

.RadGrid_Vista2 .rgSelectedRow .rgSorted,
.RadGrid_Vista2 .rgActiveRow .rgSorted,
.RadGrid_Vista2 .rgHoveredRow .rgSorted,
.RadGrid_Vista2 .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_Vista2 .rgRow a,
.RadGrid_Vista2 .rgAltRow a,
.RadGrid_Vista2 .rgEditRow a,
.RadGrid_Vista2 .rgFooter a,
.RadGrid_Vista2 .rgEditForm a
{
	color:#333;
}

.RadGrid_Vista2 .rgSelectedRow
{
     background:url(img/selectedBg.gif) 0 100% repeat-x #f6fbfd;
}
*+html .RadGrid_Vista2 .rgSelectedRow .rgSorted{background-color:#abdbf5}
* html .RadGrid_Vista2 .rgSelectedRow .rgSorted{background-color:#abdbf5}

.rgSelectedRow td
{
	border-left:0;
	border-right:0;
	/*padding-left:10px;*/
	border-top:1px solid #d8f0fa;
	border-bottom:1px solid #d8f0fa;
}

.RadGrid_Vista2 .rgActiveRow,
.RadGrid_Vista2 .rgHoveredRow
{
    background:url(img/activeBg.gif) 0 100% repeat-x #f6fbfd;
}
*+html .RadGrid_Vista2 .rgActiveRow .rgSorted,
*+html .RadGrid_Vista2 .rgHoveredRow .rgSorted{background-color:#d7f0fc}
* html .RadGrid_Vista2 .rgActiveRow .rgSorted,
* html .RadGrid_Vista2 .rgHoveredRow .rgSorted{background-color:#d7f0fc}

.RadGrid_Vista2 .rgEditRow
{
	background:#96cfee 0 -4900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Vista2 .rgEditRow .rgSorted{background-color:#96cfee}
* html .RadGrid_Vista2 .rgEditRow .rgSorted{background-color:#96cfee}

.RadGrid_Vista2 .rgSelectedRow td,
.RadGrid_Vista2 .rgActiveRow td,
.RadGrid_Vista2 .rgHoveredRow td,
.RadGrid_Vista2 .rgEditRow td
{
	border-left:0;
	border-right:0;
	padding-left:8px;
	padding-right:8px;
}

.RadGrid_Vista2 .rgSelectedRow td
{
	border-bottom-color:#d7f0fc;
}

.RadGrid_Vista2 .rgActiveRow td,
.RadGrid_Vista2 .rgHoveredRow td
{
	border-bottom-color:#99defd;
}

.RadGrid_Vista2 .rgEditRow td
{
	border-bottom-color:#96cfee;
}

/*footer*/

.RadGrid_Vista2 .rgFooterDiv,
.RadGrid_Vista2 .rgFooter
{
	background:#e0e5f5;
}

.RadGrid_Vista2 .rgFooter td
{
	border-top-width:1px;
	border-color:#aec5d1 #e0e5f5 #fff #e0e5f5;
}

/*status*/

.RadGrid_Vista2 .rgPager .rgStatus
{
	width:35px;
	border:1px solid;
	border-color:#aec5d1 #9cb6c5 #fff #9cb6c5;
	border-left:0;
	padding:3px 0 2px;
}

.RadGrid_Vista2 .rgStatus div
{
	width:24px;
	height:24px;
	overflow:hidden;
	border:0;
	margin:0 auto;
	padding:0;
	background:transparent center center no-repeat url('Common/loading_small.gif');
	text-indent:-2222px;
}

/*pager*/

.RadGrid_Vista2 .rgPager
{
	background:#eff7fc;
}

.RadGrid_Vista2 .rgPager td
{
	padding:0;
}

.RadGrid_Vista2 .rgPager .rgPagerCell
{
	border:1px solid;
	border-color:#aec5d1 #fff #fff;
	border-right:0;
	padding:5px 0 4px;
}

.RadGrid_Vista2 .rgWrap
{
	float:left;
	padding:0 10px;
	line-height:22px;
	white-space:nowrap;
}

.RadGrid_Vista2 .rgArrPart1
{
	padding-right:0;
}

.RadGrid_Vista2 .rgArrPart2
{
	padding-left:0;
}

.RadGrid_Vista2 .rgInfoPart
{
	float:right;
	color:#8a8a8a;
}

.RadGrid_Vista2 .rgInfoPart strong
{
	font-weight:normal;
	color:#4c4e54;
}

.RadGrid_Vista2 .rgArrPart1 img,
.RadGrid_Vista2 .rgArrPart2 img
{
	margin:0 8px;
}

.RadGrid_Vista2 .rgPageFirst,
.RadGrid_Vista2 .rgPagePrev,
.RadGrid_Vista2 .rgPageNext,
.RadGrid_Vista2 .rgPageLast
{
	width:22px;
	height:22px;
	vertical-align:top;
}

.RadGrid_Vista2 .NextPrev .rgPageFirst,
.RadGrid_Vista2 .NextPrev .rgPagePrev,
.RadGrid_Vista2 .NextPrev .rgPageNext,
.RadGrid_Vista2 .NextPrev .rgPageLast
{
	vertical-align:middle;
}

.RadGrid_Vista2 .rgPageFirst
{
	background-position:0 -550px;
}
.RadGrid_Vista2 .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_Vista2 .rgPagePrev
{
	background-position:0 -700px;
}
.RadGrid_Vista2 .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_Vista2 .rgPageNext
{
	background-position:0 -850px;
}
.RadGrid_Vista2 .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_Vista2 .rgPageLast
{
	background-position:0 -1000px;
}
.RadGrid_Vista2 .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_Vista2 .rgPagerButton
{
	height:22px;
	border:1px solid #a6d9f4;
	margin:0 14px 0 0;
	padding:0 4px 2px;
	background:#cfcfcf repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#000;
	font:12px/12px "segoe ui",arial,sans-serif;
	vertical-align:middle;
	cursor:pointer;
}

.RadGrid_Vista2 .rgNumPart
{
	padding:0;
}

.RadGrid_Vista2 .NumericPages .rgNumPart
{
	padding:0 10px;
}

.RadGrid_Vista2 .rgNumPart a:hover,
.RadGrid_Vista2 .rgNumPart a:hover span,
.RadGrid_Vista2 .rgNumPart a.rgCurrentPage,
.RadGrid_Vista2 .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url('Grid/sprite.gif');
}

.RadGrid_Vista2 .rgNumPart a
{
	float:left;
	line-height:22px;
	margin:0;
	padding:0 5px 0 0;
	color:#000;
	text-decoration:none;
}

.RadGrid_Vista2 .rgNumPart span
{
	float:left;
	padding:0 0 0 5px;
}

.RadGrid_Vista2 .rgNumPart a:hover
{
	background-position:100% -1250px;
	color:#06c;
}

.RadGrid_Vista2 .rgNumPart a:hover span
{
	background-position:0 -1150px;
	cursor:pointer;
}

.RadGrid_Vista2 .rgNumPart a.rgCurrentPage,
.RadGrid_Vista2 .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
	color:#000;
	cursor:default;
}

.RadGrid_Vista2 .rgNumPart a.rgCurrentPage span,
.RadGrid_Vista2 .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
	cursor:default;
}

.RadGrid_Vista2 .NextPrevNumericAndAdvanced .rgAdvPart
{
	float:none;
	text-align:center;
}

.RadGrid_Vista2 .rgPager .RadSlider
{
	float:left;
	margin:0 10px 0 0;
}

.RadGrid_Vista2 .rgPager .rgPagerLabel,
.RadGrid_Vista2 .rgPager .RadComboBox,
.RadGrid_Vista2 .rgPager .RadInput_Vista
{
	margin:0 4px 0 0;
	vertical-align:middle;
}

*+html .RadGrid_Vista2 .rgPager .RadComboBox{margin-top:-1px}
* html .RadGrid_Vista2 .rgPager .RadComboBox{margin-top:-1px;padding:1px 0;}

.RadGrid_Vista2 .rgPagerTextBox
{
	text-align:center;
}

/*sorting, reordering*/

.RadGrid_Vista2 .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;
}

.RadGrid_Vista2 .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;
}

.GridReorderTop_Vista,
.GridReorderBottom_Vista
{
	width:9px !important;
	height:9px !important;
	margin-left:-5px;
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_Vista
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_Vista2 .rgFilterRow
{
	background:#ebeef6;
}

.RadGrid_Vista2 .rgFilterRow td
{
    padding-top:5px;
    padding-bottom:6px;
    border-left:1px solid #ededed;
    border-right:1px solid #fff;
}

.RadGrid_Vista2 .rgFilter
{
	width:22px;
	height:22px;
	margin:0 0 0 2px;
	background-position:0 -300px;
}

.RadGrid_Vista2 .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_Vista2 .rgFilterActive,
.RadGrid_Vista2 .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_Vista2 .rgFilterBox
{
	border:1px solid;
	border-color:#abadb3 #dbdfe6 #e3e9ef #e2e3ea;
	padding:2px 1px 3px;
	font:12px "segoe ui",arial,sans-serif;
	color:#333;
	vertical-align:middle;
}

/*grouping*/

.RadGrid_Vista2 .rgGroupPanel
{
	border:1px solid;
	border-color:#eaedf6 #f2f5fa #9cb6c5;
	background:#e6ebf5 0 -1900px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Vista2 .rgGroupPanel td
{
	border:0;
	border-bottom:1px solid #f2f5fa;
	padding:0;
}

.RadGrid_Vista2 .rgGroupPanel td td
{
	border:0;
	padding:2px 3px 1px;
}

.RadGrid_Vista2 .rgGroupPanel td td td
{
	padding:0;
}

.RadGrid_Vista2 .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_Vista2 .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_Vista2 .rgUngroup
{
	background-position:0 -7200px;
}

.RadGrid_Vista2 .rgGroupItem
{
	border:1px solid;
	border-color:#8a929e #9298a1 #9298a1;
	padding:0 2px 1px 3px;
	background:#e6ebf5 0 -7000px repeat-x url('Grid/sprite.gif');
	line-height:20px;
	font-weight:normal;
	vertical-align:middle;
}

.RadGrid_Vista2 .rgGroupHeader
{
    background:0 -6489px repeat-x url('Grid/sprite.gif');
    font-size:1.1em;
    line-height:21px;
	color:#039;
}

.RadGrid_Vista2 .rgGroupHeader td
{
    padding:0 8px;
}

.RadGrid_Vista2 .rgGroupHeader .rgGroupCol
{
	background:#fff none;
}

.RadGrid_Vista2 .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_Vista2 .rgCollapse
{
	background-position:3px -444px;
}

.RadGrid_Vista2 .rgGroupHeader .rgExpand,
.RadGrid_Vista2 .rgGroupHeader .rgCollapse
{
	background-color:#fff;
}

.RadGrid_Vista2 .rgGroupHeader td p
{
    display:inline;
    margin:0;
    padding:0 10px;
    background:#fff;
}

.RadGrid_Vista2 .rgGroupHeader td div div
{
	top:-0.8em;
	padding:0 10px;
	background:#fff;
}

.RadGrid_Vista2 .rgGroupHeader td div div div
{
	top:0;
	padding:0;
	border:0;
}

/*editing*/

.RadGrid_Vista2 .rgEditForm
{
	border-bottom:1px solid #ededed;
}

.RadGrid_Vista2 .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_Vista2 .rgCancel
{
	background-position:2px -1848px;
}

/*hierarchy*/

.RadGrid_Vista2 .rgDetailTable
{
	border:1px solid #ededed;
	border-right:0;
}

/*command row*/

.RadGrid_Vista2 .rgCommandRow
{
	background:#4e96aa 0 -2099px repeat-x url('Grid/sprite.gif');
	color:#fff;
}

.RadGrid_Vista2 .rgCommandCell
{
	border:1px solid;
	border-color:#000 #75a4b7 #000;
	padding:0;
}

.RadGrid_Vista2 .rgCommandTable td
{
	border:0;
	padding:3px 7px 4px;
}

.RadGrid_Vista2 .rgCommandTable
{
	border:0;
	border-top:1px solid #b2ccd8;
	border-bottom:1px solid #95c3ce;
}

.RadGrid_Vista2 .rgCommandRow a
{
	color:#fff;
	text-decoration:none;
}

.RadGrid_Vista2 .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_Vista2 .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_Vista2 .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_Vista2 .rgDel
{
	background-position:0 -1750px;
}

/*multirow select*/

.GridRowSelector_Vista
{
	background:#039;
}

/*row drag n drop*/

.GridItemDropIndicator_Vista
{
    border-top:1px dashed #039;
}

/*tooltip*/

.GridToolTip_Vista
{
	border:1px solid #767676;
	padding:3px;
	background:#e4e5f0;
	color:#000;
}

/*rtl*/

.RadGridRTL_Vista .rgHeader,
.RadGridRTL_Vista .rgResizeCol
{
	text-align:right;
}

.RadGridRTL_Vista .rgHeader:first-child,
.RadGridRTL_Vista th.rgResizeCol:first-child,
.RadGridRTL_Vista .rgFilterRow>td:first-child,
.RadGridRTL_Vista .rgRow>td:first-child,
.RadGridRTL_Vista .rgAltRow>td:first-child
{
	border-left:1px solid;
	padding-left:7px;
}

.RadGridRTL_Vista .rgPager .rgStatus
{
	border-right:0;
	border-left-width:1px;
}

.RadGridRTL_Vista .rgWrap
{
	float:right;
}

.RadGridRTL_Vista .rgInfoPart
{
	float:left;
}

.RadGridRTL_Vista .rgNumPart
{
	width:220px;
}

.RadGridRTL_Vista .rgNumPart a
{
	float:right;
}

.RadGridRTL_Vista .rgDetailTable
{
	border-right:1px solid;
	border-left:0;
}
